/* Contact Me */

.area{
    height: 25px;
    width: 400px;
}

.ContactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 850px;
    width: 500px;
    color: white;
    .MYLinksTop {
        margin-top: 20px;
    }
    #MYLinksTop2 {
        margin-top: 10px;
    }
    .MYLinksTop3{
        font-size: 20px;
    }
    .MYLinksTop3:hover {
        animation: InfoOfMe linear 4s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
    }
    a i{
        text-decoration: none;
        color: gray;
        font-size: 40px;
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }
    a i:hover {
        color: lightgray;
        animation: ExternalLinks linear 4s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
    }
    .EmailLinks {
        margin-top: 15px;
    }
    a {
        img {
            padding-top: 6px;
            width: 50px;
            height: 50px;
            margin-left: 10px;
            margin-right: 10px;
        }
        img:hover {
            animation: ExternalLinks linear 4s;
            animation-iteration-count: 1;
            transform-origin: 50% 50%;
        }
    }
}

.Contactbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

@keyframes ExternalLinks{
    0% {
      transform:  translate(0px,0px)  ;
    }
    4% {
      transform:  translate(1px,-6px)  ;
    }
    100% {
      transform:  translate(1px,-6px)  ;
    }
  }
  @keyframes InfoOfMe{
    0% {
      transform:  translate(0px,0px)  ;
    }
    4% {
      transform:  translate(7px,1px)  ;
    }
    100% {
      transform:  translate(7px,1px)  ;
    }
  }
  
  